
2.5.0 Release Files/Release.txt
2.5.0 Release Files/SLModes 2.5.0.app.zip
2.5.0 Release Files/SLModes-2.5.0-win64.msi
2.5.0 Release Files/SLMODES.MANUAL.macOS.pdf
2.5.0 Release Files/SLMODES.MANUAL.Win.pdf
